<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <meta name="description" content="Canakkale Onsekiz Mart Universitesi Bilgisayar Muhendisligi ogrencilerinin bilgi paylasimi yapabilecegi portal"/>
        <meta name="keywords" content="bilgisayar, muhendislik, bilgisayar mühendisligi, canakkale, comu, bilgisayar bilimleri"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>{% block title %}{% endblock %} - COMU Bilgisayar Muhendisligi Bolumu Portali</title>
    </head>
    <body>
        <a href="/" name="Ana Sayfa"><img src="/media/menu/Ana Sayfa.gif"></a>
        <a href="/forum/" name="Forum"><img src="/media/menu/Forum.gif"></a>
        <a href="/gezegen/" name="Gezegen"><img src="/media/menu/Gezegen.gif"></a>
        <a href="/ogrenciCalismalari/" name="Ogrenci Calismalari">Ogrenci Calismalari</a>
        {% if user.is_authenticated %}
        <a href= "{% url deauth %}" >cikis yap</a>, 
        <a href= "{% url userMenu %}" > {{ user.username }}</a>
        {% else %}
        <a href="{% url authlogin %}" >uye girisi</a>
        <a href="{% url userRegister %}" >uye ol</a>
        {% endif %}
        {% block body %}{% endblock %}
    </body>
</html>
