<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <meta name="description" content="Çanakkale Onsekiz Mart Üniversitesi Bilgisayar Mühendisliği öğrencilerinin bilgi paylaşımı yapabileceği portal"/>
        <meta name="keywords" content="bilgisayar, mühendislik, bilgisayar mühendisliği, çanakkale, çomü, bilgisayar bilimleri"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>ÇOMÜ Bilgisayar Mühendisliği Bölümü Portalı</title>
    </head>
    <body>
    </body>
</html>

