{% include "base.html" %}

<h1>{{ topic.title }}</h1>
{% for entry in entry_list %}

<table>
    <tr bgcolor=#ffccff>
        
        
        	<td colspan=2 width=200 align=right>{{ entry.date }}</td>
    </tr>
    <tr>
        <td align=center height=30 width=100 bgcolor=#ffaaff>{{ entry.member.user.username }}</td>
        <td rowspan=2 width=600 style="vertical-align:top" >{{ entry.text }}</td>
        <td height=100 width=60 bgcolor=#ff00ff>
         	<table>
         	<tr><td align=center >begendim</td></tr>
			<tr><td align=center >kararsizim</td></tr>
			<tr><td align=center >begenmedim</td></tr>
			</table>
        </td>
    </tr>
   
</table>

{% endfor %}
{% if perms.forum.can_add_entry %}
<form action="{% url showTopic topic.id topic.title %}" method="post">
{% csrf_token %}
{% for field in form %}
	{{ field }}
{% endfor %}
<br />
<input type="submit" value="Submit" />
</form> 
{% endif %}