{% include "base.html" %}

{% block body %}
	{% for topic in topic_list %}
    <br>
    {% if root %}
    <a href="{% url topicList topic.id %}" name="{{ topic.title }}">{{ topic.title }}</a>
    {% else  %}
    <a href="{% url showTopic topic.id topic.title %}" name="{{ topic.title }}">{{ topic.title }}</a>
	{% endif %}
	{% endfor %}

{% if root %}
    {% if perms.forum.delete_topic %}
    <br /><a href="{% url addTopic 0 %}" name="addtopic">yeni baslik</a>
    {% endif %}
{% else  %}
    <br /><a href="{% url addTopic topic_id %}" name="addtopic">yeni baslik</a>
{% endif %}

{% endblock %}
